@use "../utilities" as u;

main {
  padding: u.rem(64) u.rem(24);

  @include u.breakpoint(xlarge) {
    padding: u.rem(120) u.rem(120);
  }
}

.hero-copy {
  @include u.breakpoint(xlarge) {
    max-width: 40%;
    margin: 0 auto;
  }
}
